body {
  font: 12px/1.5 tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
}
#header .header-top {
  background-color: #a68cf1;
}
#header .header-menu {
  background: #f2f2f2;
}
#header .header-menu .top-bar {
  padding: 0 90px;
}
#header .header-menu .top-bar a:hover {
  color: red;
  text-decoration: underline red;
}
#header .header-menu .menu-left {
  float: left;
}
#header .header-menu .menu-left > li {
  float: left;
  color: #999;
  font-size: 12px;
  padding: 0 10px;
  line-height: 27px;
}
#header .header-menu .menu-left > li > a {
  color: #999;
}
#header .header-menu .menu-left > li > span {
  color: red;
  font-size: 10px;
}
#header .header-menu .menu-right {
  float: right;
}
#header .header-menu .menu-right > li {
  float: left;
  color: #999;
  font-size: 12px;
  padding: 0 14px 0 10px;
  position: relative;
}
#header .header-menu .menu-right > li:hover .triangle {
  transform: rotate(180deg);
}
#header .header-menu .menu-right > li:hover:nth-of-type(1),
#header .header-menu .menu-right > li:hover:nth-of-type(3),
#header .header-menu .menu-right > li:hover:nth-of-type(7) {
  background-color: #fff;
}
#header .header-menu .menu-right > li span {
  color: red;
  font-size: 10px;
}
#header .header-menu .menu-right > li .triangle {
  position: absolute;
  top: 12px;
  right: 6px;
  width: 0px;
  height: 0px;
  border: 3px solid;
  border-color: #999 transparent transparent;
  transition: all 0.2s;
  transform-origin: 3px 1.5px;
}
#header .header-menu .menu-right > li > a {
  color: #999;
  line-height: 27px;
}
#header .header-menu .menu-right > li > .right-erji {
  width: 90px;
}
#header .header-menu .menu-right > li > .collection {
  width: 80px;
}
#header .header-menu .menu-right > li > .right-erji,
#header .header-menu .menu-right > li .collection {
  padding: 8px 0;
  background-color: #fff;
  position: absolute;
  z-index: 99;
  left: 0;
  display: none;
  line-height: 14px;
  text-align: center;
  border: 1px solid transparent;
  border-color: transparent #eee #eee;
}
#header .header-menu .menu-right > li > .right-erji p,
#header .header-menu .menu-right > li .collection p {
  margin-bottom: 5px;
}
#header .header-menu .menu-right > li > .right-erji p a,
#header .header-menu .menu-right > li .collection p a {
  color: #888;
}
#header .header-menu .menu-right > li > .right-erji p a:hover,
#header .header-menu .menu-right > li .collection p a:hover {
  color: red;
  text-decoration: underline red;
}
#header .header-menu .menu-right > li > .right-erji > p:last-child,
#header .header-menu .menu-right > li .collection > p:last-child {
  margin-bottom: 0;
}
#header .header-menu .menu-right > li .phone {
  position: absolute;
  width: 180px;
  height: 230px;
  z-index: 99;
  left: -48px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  text-align: center;
  display: none;
}
#header .header-menu .menu-right > li .phone h2 {
  color: black;
  font-weight: 500;
  font-size: 16px;
}
#header .header-menu .menu-right > li .phone p {
  color: red;
  font-size: 14px;
  font-weight: 500;
}
#header .header-menu .menu-right > li .phone img {
  width: 100%;
}
#header .header-menu .menu-right > li .phone .phone-triangle {
  width: 0px;
  height: 0px;
  border: 5px solid transparent;
  border-color: transparent transparent #fff;
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
#header .header-menu .menu-right > li .business {
  background-color: #fff;
  padding: 10px;
  position: absolute;
  width: 118px;
  left: -68px;
  top: 27px;
  border: 1px solid #ccc;
  border-top: 0;
  z-index: 99;
  display: none;
}
#header .header-menu .menu-right > li .business a {
  color: #666;
  line-height: 20px;
}
#header .header-menu .menu-right > li .business a:hover {
  color: red;
}
#header .header-menu .menu-right > li .business h3 {
  color: #666;
  font-size: 14px;
  font-weight: 700;
}
#header .header-menu .menu-right > li .business .business-list {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 5px;
  margin-bottom: 3px;
}
#header .header-menu .menu-right > li .business .business-bottom {
  border-bottom: 1px dotted #ccc;
  padding-bottom: 5px;
}
#header .header-menu .menu-right > li .business .business-bottom h3 {
  color: #666;
  font-size: 14px;
  font-weight: 700;
}
#header .header-menu .menu-right > li:nth-child(4):hover .phone {
  display: block;
}
#header .header-menu .menu-right > li:nth-child(7):hover .business {
  display: block;
}
#header .header-menu .menu-right > li:nth-child(1):hover .right-erji {
  display: block;
}
#header .header-menu .menu-right > li:nth-child(3):hover .collection {
  display: block;
}
#header .header-menu .menu-right > li:nth-of-type(3):after {
  content: "";
  display: inline-block;
  width: 0.5px;
  height: 15px;
  background-color: #999;
  position: absolute;
  right: -3px;
  top: 50%;
  transform: translate(0, -50%);
}
#main .main-search {
  height: 100px;
}
#main .main-search .search-inner {
  padding-top: 16px;
  position: relative;
}
#main .main-search .search-inner .search-img {
  display: block;
  margin-top: 10px;
  padding-left: 40px;
  width: 230px;
  box-sizing: border-box;
}
#main .main-search .search-inner .search-img img {
  width: 130px;
  height: 48px;
}
#main .main-search .search-inner .city-list {
  width: 76px;
  margin-left: 230px;
}
#main .main-search .search-inner .city-list h3 {
  cursor: pointer;
  position: relative;
}
#main .main-search .search-inner .city-list h3:hover .city-menu {
  display: block;
}
#main .main-search .search-inner .city-list h3:hover .default-city {
  border-bottom: 0;
}
#main .main-search .search-inner .city-list h3 .default-city {
  color: #30b30e;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #e5e5e5;
  line-height: 23px;
  border-radius: 3px;
  margin-top: -48px;
  position: relative;
  z-index: 999;
  background-color: #fff;
}
#main .main-search .search-inner .city-list h3 .default-city:hover {
  border-bottom: 0;
}
#main .main-search .search-inner .city-list h3 .default-city span {
  font-weight: 400;
  margin-left: -5px;
  vertical-align: middle;
}
#main .main-search .search-inner .city-list h3 .city-menu {
  padding: 15px 20px;
  position: absolute;
  width: 400px;
  border: 1px solid #e5e5e5;
  border-bottom: 0;
  left: 0px;
  top: 36px;
  z-index: 99;
  display: none;
  background-color: #fff;
}
#main .main-search .search-inner .city-list h3 .city-menu .hot-city {
  margin-bottom: 25px;
}
#main .main-search .search-inner .city-list h3 .city-menu .hot-city h3 {
  color: #888;
  font-size: 14px;
  margin-bottom: 15px;
}
#main .main-search .search-inner .city-list h3 .city-menu .hot-city p {
  margin-bottom: 5px;
}
#main .main-search .search-inner .city-list h3 .city-menu .hot-city p a {
  margin-right: 30px;
  color: black;
  font-size: 14px;
}
#main .main-search .search-inner .city-list h3 .city-menu .hot-city p a:hover {
  color: red;
}
#main .main-search .search-inner .city-list h3 .city-menu .all-city {
  display: flex;
  background-color: #fff;
}
#main .main-search .search-inner .city-list h3 .city-menu .all-city > li {
  flex-shrink: 0;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
}
#main .main-search .search-inner .city-list h3 .city-menu .all-city > li:hover .city-select {
  display: block;
}
#main .main-search .search-inner .city-list h3 .city-menu .all-city > li > span {
  width: 75px;
  background-color: #fff;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  z-index: 99;
}
#main .main-search .search-inner .city-list h3 .city-menu .all-city > li > span:hover {
  border: 1px solid #ccc;
  border-bottom: 0;
}
#main .main-search .search-inner .city-list h3 .city-menu .all-city > li .city-active {
  display: block;
}
#main .main-search .search-inner .city-list h3 .city-menu .all-city > li .city-select {
  position: absolute;
  border: 1px solid #eee;
  width: 440px;
  left: -1px;
  padding-top: 15px;
  top: 159px;
  display: none;
  background-color: #fff;
}
#main .main-search .search-inner .city-list h3 .city-menu .all-city > li .city-select .city-select1 {
  display: flex;
  margin-bottom: 15px;
  margin-left: 20px;
}
#main .main-search .search-inner .city-list h3 .city-menu .all-city > li .city-select .city-select1 h4 {
  color: red;
  font-weight: 400;
  margin-right: 20px;
}
#main .main-search .search-inner .city-list h3 .city-menu .all-city > li .city-select .city-select1 p {
  display: flex;
  flex-wrap: wrap;
}
#main .main-search .search-inner .city-list h3 .city-menu .all-city > li .city-select .city-select1 p > span {
  text-align: left;
  display: inline-block;
  width: 60px;
}
#main .main-search .search-inner .city-list h3 .city-menu .all-city > li .city-select .city-select1 p > span a {
  color: black;
}
#main .main-search .search-inner .city-list h3 .city-menu .all-city > li .city-select .city-select1 p > span a:hover {
  color: red;
}
#main .main-search .search-inner .search-input {
  width: 540px;
  height: 61px;
  box-sizing: border-box;
  padding-top: 25px;
  position: absolute;
  top: 0px;
  left: 380px;
}
#main .main-search .search-inner .search-input form {
  border: 2px solid #30b30e;
  box-sizing: border-box;
  height: 36px;
}
#main .main-search .search-inner .search-input form button {
  background-color: #30b30e;
  outline: none;
  border: 0;
  color: #fff;
  width: 80px;
  font-size: 16px;
  height: 100%;
  cursor: pointer;
  float: right;
}
#main .main-search .search-inner .search-input form .search-infor {
  text-indent: 10px;
  height: 100%;
  width: 456px;
}
#main .main-search .search-inner .search-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 257px;
  height: 79px;
  padding: 25px 0 0 15px;
  box-sizing: border-box;
}
#main .main-search .search-inner .search-right a {
  color: #666;
  font-weight: bolder;
  margin: 0 8px;
}
#main .main-search .search-inner .search-right a:last-child {
  position: absolute;
  right: 0px;
}
#main .main-product {
  border-bottom: 1px solid;
}
#main .main-product .main-mes > a {
  font-size: 16px;
  color: #333;
  line-height: 36px;
  margin-left: -1px;
  padding: 0 25px;
  text-decoration: none;
  font-weight: 900;
}
#main .main-product .main-mes > a:hover {
  color: red;
}
#main .main-product .main-mes > span {
  color: #ccc;
}
#main .main-product .classification {
  background-color: #2f2f2f;
  line-height: 37px;
  height: 37px;
  width: 240px;
  float: left;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}
#main .main-product .classification:hover .product-category {
  display: block;
}
#main .main-product .classification .product-category {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  display: none;
}
#main .main-product .classification .product-category > li:last-child {
  border: 0;
  background-color: #eee;
}
#main .main-product .classification .product-category > li {
  padding: 10px;
  padding-bottom: 0;
  position: relative;
  background-color: #fff;
  z-index: 999;
}
#main .main-product .classification .product-category > li:hover :not(:last-of-type) > h3,
#main .main-product .classification .product-category > li:hover :not(:last-of-type) > i,
#main .main-product .classification .product-category > li:hover :not(:last-of-type) > span {
  color: #fff !important;
}
#main .main-product .classification .product-category > li:hover :not(:last-of-type) .int-mes > span {
  color: #eee !important;
}
#main .main-product .classification .product-category > li:hover .red-cover {
  display: block;
}
#main .main-product .classification .product-category > li:last-child .li-inner,
#main .main-product .classification .product-category > li:nth-last-child(2) .li-inner {
  border: 0;
}
#main .main-product .classification .product-category > li:hover > .li-inner > .product-int > .many-product {
  display: block;
}
#main .main-product .classification .product-category > li:last-of-type .int-mes > span:hover,
#main .main-product .classification .product-category > li:last-of-type .int-menu > h3:hover {
  text-decoration: underline black !important;
}
#main .main-product .classification .product-category > li .li-inner {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  position: relative;
  z-index: 99;
}
#main .main-product .classification .product-category > li .li-inner span {
  color: red;
  margin-right: 10px;
}
#main .main-product .classification .product-category > li .li-inner .product-int {
  flex: 1;
  position: relative;
}
#main .main-product .classification .product-category > li .li-inner .product-int .many-product {
  position: absolute;
  top: -9px;
  left: 201px;
  width: 950px;
  border: 2px solid red;
  background-color: #fff;
  box-sizing: border-box;
  display: none;
}
#main .main-product .classification .product-category > li .li-inner .product-int .many-product > .many-mes {
  display: flex;
}
#main .main-product .classification .product-category > li .li-inner .product-int .many-product > .many-mes > li:last-child {
  flex: auto;
  background-color: #eee;
}
#main .main-product .classification .product-category > li .li-inner .product-int .many-product > .many-mes > li:last-child a:hover {
  color: red;
}
#main .main-product .classification .product-category > li .li-inner .product-int .many-product > .many-mes > li {
  padding: 15px 20px;
  border-right: 1px solid #ccc;
  flex-shrink: 0;
}
#main .main-product .classification .product-category > li .li-inner .product-int .many-product > .many-mes > li > .mes-detailed {
  margin-bottom: 20px;
}
#main .main-product .classification .product-category > li .li-inner .product-int .many-product > .many-mes > li > .mes-detailed > h4 {
  color: black;
  line-height: 15px;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 5px;
  cursor: pointer;
}
#main .main-product .classification .product-category > li .li-inner .product-int .many-product > .many-mes > li > .mes-detailed > p {
  color: #ddd;
  font-size: 12px;
  font-weight: normal;
  line-height: 22px;
  text-align: left;
}
#main .main-product .classification .product-category > li .li-inner .product-int .many-product > .many-mes > li > .mes-detailed > p > i {
  margin: 0 5px;
}
#main .main-product .classification .product-category > li .li-inner .product-int .many-product > .many-mes > li > .mes-detailed > p > a {
  color: #666;
  font-size: 12px;
  font-weight: normal;
}
#main .main-product .classification .product-category > li .li-inner .product-int .many-product > .many-mes > li > .mes-detailed > p > a:hover {
  color: red;
  text-decoration: underline red;
}
#main .main-product .classification .product-category > li .li-inner .product-int .many-product > .many-mes > li > .mes-detailed:last-child {
  margin-bottom: 0;
}
#main .main-product .classification .product-category > li .li-inner .product-int .many-product > .many-mes > .li-last > .mes-detailed > p {
  display: flex;
}
#main .main-product .classification .product-category > li .li-inner .product-int .many-product > .many-mes > .li-last > .mes-detailed:first-child a {
  display: inline-block;
  width: 50px;
  margin-right: 10px;
}
#main .main-product .classification .product-category > li .li-inner .product-int .many-product > .many-mes > .li-last {
  position: relative;
}
#main .main-product .classification .product-category > li .li-inner .product-int .many-product > .many-mes > .li-last > .product-img img {
  position: absolute;
  bottom: 20px;
  right: 0;
  width: 100%;
}
#main .main-product .classification .product-category > li .li-inner .product-int .int-menu {
  color: black;
  display: flex;
  justify-content: space-between;
}
#main .main-product .classification .product-category > li .li-inner .product-int .int-menu h3 {
  font-weight: 700;
  font-size: 14px;
  transition: all 0.2s;
}
#main .main-product .classification .product-category > li .li-inner .product-int .int-menu h3:hover {
  text-decoration: underline #fff;
}
#main .main-product .classification .product-category > li .li-inner .product-int .int-menu i {
  vertical-align: middle;
  padding-right: 15px;
  color: #666;
  transition: all 0.2s;
}
#main .main-product .classification .product-category > li .li-inner .product-int .int-mes {
  text-align: left;
  line-height: 10px;
}
#main .main-product .classification .product-category > li .li-inner .product-int .int-mes span {
  margin-right: 12px;
  color: #999;
  font-size: 12px;
  font-weight: normal;
  cursor: pointer;
  transition: all 0.2s;
}
#main .main-product .classification .product-category > li .li-inner .product-int .int-mes span:hover {
  text-decoration: underline #fff;
}
#main .main-product .classification .product-category > li .red-cover {
  position: absolute;
  width: 250px;
  height: 100%;
  background-color: #fa1010;
  top: 1px;
  left: -11px;
  display: none;
}
#main .main-product .classification .product-category > li .red-cover .red-triangle {
  width: 0px;
  height: 0px;
  border: 7px solid transparent;
  border-color: transparent transparent #a40707;
  position: absolute;
  bottom: -7px;
  left: 3px;
  transform: rotate(45deg);
}
#main .main-product .main-money {
  width: 200px;
  height: 31px;
  float: right;
  position: relative;
  top: -3px;
  margin: 3px 0;
  background: #bf0000;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
#main .main-product .main-money:hover {
  width: 230px;
}
#main .main-product .main-money:hover .arrow {
  transform: rotate(180deg);
}
#main .main-product .main-money:hover .product-list > .list-top {
  opacity: 1;
}
#main .main-product .main-money .first-a {
  color: #fcff00;
  font-family: arial;
  font-size: 12px;
  margin-left: 10px;
}
#main .main-product .main-money .first-a span {
  font-size: 22px;
  font-weight: bolder;
  vertical-align: middle;
  margin: 0 2px;
}
#main .main-product .main-money em {
  margin-right: 3px;
  color: #b91226;
  font-size: 12px;
}
#main .main-product .main-money .second-a {
  color: #fff;
}
#main .main-product .main-money .arrow {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #fff;
  background: 0 0;
  right: 8px;
  top: 15px;
  transition: all 0.2s ease-in;
  transform-origin: 5px 2.5px;
  position: absolute;
}
#main .main-product .main-money .iconfont-box {
  position: absolute;
  top: -3px;
  left: -30px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
}
#main .main-product .main-money .iconfont-box span {
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 50%;
  background-color: black;
  font-size: 20px;
  color: #fff;
  position: absolute;
  top: 3px;
  left: 1px;
}
#main .main-product .main-money .product-list {
  position: absolute;
  top: 33px;
}
#main .main-product .main-money .product-list .list-top {
  width: 230px;
  height: 300px;
  background-color: #fff;
  box-sizing: border-box;
  border: 3px solid red;
  border-top: 0;
  display: flex;
  position: relative;
  transition: all 0.2s 0.2s ease-in;
  opacity: 0;
}
#main .main-product .main-money .product-list .list-top li {
  padding: 10px 16px;
  height: 10px;
  line-height: 10px;
  background-color: #f6f2f2;
}
#main .main-product .main-money .product-list .list-top li .list-inner {
  width: 100%;
  left: 0px;
  position: absolute;
  z-index: 99;
}
#main .main-details {
  margin: 50px 0 15px 0;
}
#main .main-details > .details-mes {
  display: flex;
}
#main .main-details .details-img {
  width: 460px;
  height: 603px;
  box-sizing: border-box;
  padding-left: 20px;
}
#main .main-details .details-img > a {
  display: inline-block;
  width: 420px;
  height: 420px;
  border: 1px solid #ccc;
  border-left: 0;
  position: relative;
  text-align: center;
}
#main .main-details .details-img > a > .icon-sousuo1 {
  position: absolute;
  right: 0;
  bottom: 0;
  font-weight: 600;
  height: 30px;
  line-height: 30px;
  width: 30px;
  z-index: 2;
  background-color: #fff;
  opacity: 0.6;
}
#main .main-details .details-img > a > .icon-bofanganniu {
  position: absolute;
  font-size: 36px;
  bottom: 10px;
  left: 10px;
  color: black;
}
#main .main-details .details-img > a > img {
  width: 100%;
}
#main .main-details .details-img > .detailes-imglist {
  width: 420px;
  display: flex;
  box-sizing: border-box;
  padding: 20px 25px;
  justify-content: space-between;
}
#main .main-details .details-img > .detailes-imglist > img {
  width: 60px;
  height: 60px;
}
#main .main-details .details-img .detailes-collection {
  padding: 20px 20px;
  color: #999;
}
#main .main-details .details-img .detailes-collection a {
  color: #999;
}
#main .main-details .details-img .detailes-collection a:last-child {
  float: right;
  padding-right: 30px;
}
#main .main-details .details-infor {
  border-right: 1px solid #eee;
}
#main .main-details .details-infor .details-hd {
  margin-bottom: 10px;
}
#main .main-details .details-infor .details-hd > h1 {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}
#main .main-details .details-infor .details-hd > .details-newp {
  font-size: 14px;
  color: #ff0036;
}
#main .main-details .details-infor .details-panel {
  width: 510px;
  height: 36px;
  line-height: 36px;
  box-sizing: border-box;
  padding: 0 5px;
  margin-right: 20px;
  background: url(../../img/详情小背景.png) no-repeat;
  margin-bottom: 10px;
}
#main .main-details .details-infor .details-panel .details-price {
  color: #999;
  font-size: 12px;
  text-align: left;
  float: left;
  width: 69px;
  margin: 0 0 0 8px;
}
#main .main-details .details-infor .details-panel .details-red {
  font-size: 26px;
  color: #ff0036;
  font-weight: bolder;
  font-family: Arial;
}
#main .main-details .details-infor .details-panel .details-red > i {
  font-size: 18px;
}
#main .main-details .details-infor .details-panel .details-red > .details-recommended {
  background-color: #f47a86;
  border-radius: 1px;
  color: #fff;
  height: 16px;
  line-height: 16px;
  margin: 0 2px 4px 6px;
  padding: 1px 5px;
  font-weight: normal;
  font-size: 12px;
  position: relative;
  top: -5px;
}
#main .main-details .details-infor .details-panel .details-red > .details-recommended > em {
  width: 0px;
  height: 0px;
  border: 4px solid transparent;
  border-color: transparent transparent #f47a86;
  position: absolute;
  bottom: 0;
  left: -4px;
}
#main .main-details .details-infor .details-meta {
  padding: 0 5px;
  height: 70px;
  margin-right: 20px;
  margin-bottom: 10px;
  border-bottom: 1px dotted #ccc;
}
#main .main-details .details-infor .details-meta > .details-logistics {
  display: flex;
}
#main .main-details .details-infor .details-meta > .details-logistics .details-yun {
  width: 50px;
  height: 36px;
  margin: 0 10px;
}
#main .main-details .details-infor .details-meta > .details-logistics .details-adress {
  line-height: 15px;
  margin-bottom: 3px;
}
#main .main-details .details-infor .details-meta > .details-logistics .details-adress .details-city > em {
  font-weight: 700;
  margin-right: 10px;
  color: #666;
}
#main .main-details .details-infor .details-meta > .details-logistics .details-adress .details-city > span {
  cursor: pointer;
}
#main .main-details .details-infor .details-meta > .details-logistics .details-adress .details-city > span i {
  position: relative;
  margin-left: -3px;
  top: 1px;
}
#main .main-details .details-infor .details-meta > .details-logistics .details-adress .details-city > a {
  color: black;
}
#main .main-details .details-infor .details-meta > .details-logistics .details-adress .details-signText {
  line-height: 26px;
}
#main .main-details .details-infor .details-sales {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px dotted #ccc;
  margin-right: 20px;
}
#main .main-details .details-infor .details-sales > p {
  width: 50%;
  text-align: center;
  line-height: 16px;
  height: 16px;
  color: #999;
}
#main .main-details .details-infor .details-sales > p > .mouth-red {
  color: red;
  font-weight: 700;
}
#main .main-details .details-infor .details-sales > p:first-child {
  border-right: 1px solid #ccc;
}
#main .main-details .details-infor .details-sales .details-integral span {
  color: #280;
  font-weight: 700;
}
#main .main-details .details-infor .details-select {
  margin: 0 20px 24px 10px;
}
#main .main-details .details-infor .details-select p {
  color: #838383;
  width: 66px;
}
#main .main-details .details-infor .details-select .details-skin {
  padding: 10px 0;
  position: relative;
}
#main .main-details .details-infor .details-select .details-skin > .details-key {
  display: flex;
  padding-bottom: 6px;
}
#main .main-details .details-infor .details-select .details-skin > .details-key > a {
  width: 40px;
  height: 40px;
  display: block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
#main .main-details .details-infor .details-select .details-skin > .details-key > a > img {
  width: 100%;
}
#main .main-details .details-infor .details-select .details-skin > .details-number {
  display: flex;
  margin-bottom: 5px;
}
#main .main-details .details-infor .details-select .details-skin > .details-number > p {
  margin-top: 6px;
}
#main .main-details .details-infor .details-select .details-skin > .details-number > input {
  color: #666;
  font-size: 12px;
  background-position: -406px -41px;
  margin: 0;
  padding: 3px 2px 0 3px;
  height: 26px;
  border: 1px solid #a7a6ac;
  width: 36px;
  line-height: 26px;
}
#main .main-details .details-infor .details-select .details-skin > .details-number > .number-jiantou {
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#main .main-details .details-infor .details-select .details-skin > .details-number > .number-jiantou > i:first-child {
  transform: rotate(180deg);
}
#main .main-details .details-infor .details-select .details-skin > .details-number > .number-jiantou > i {
  display: inline-block;
  width: 14px;
  height: 14px;
  font-size: 12px;
  box-sizing: border-box;
  border: 1px solid #999;
  color: #666;
  text-align: center;
  line-height: 12px;
}
#main .main-details .details-infor .details-select .details-skin > .details-number > .number-text {
  line-height: 27px;
  margin-right: 20px;
  color: #666;
}
#main .main-details .details-infor .details-select .details-skin > .details-number > .number-stock {
  line-height: 27px;
  color: #666;
}
#main .main-details .details-infor .details-select .details-skin > .details-server {
  display: flex;
  margin-bottom: 15px;
}
#main .main-details .details-infor .details-select .details-skin > .details-server > p {
  margin-top: 4px;
}
#main .main-details .details-infor .details-select .details-skin > .details-server > .details-warranty > li {
  display: inline-block;
  padding: 1px 0;
  margin: 0 4px 4px 0;
}
#main .main-details .details-infor .details-select .details-skin > .details-server > .details-warranty a {
  display: inline-block;
  border: 1px solid #999;
  padding: 0 9px;
  color: black;
}
#main .main-details .details-infor .details-select .details-skin > .details-server > .details-warranty a i {
  position: relative;
  left: 3px;
  top: 1px;
}
#main .main-details .details-infor .details-fenqi {
  display: flex;
  margin-bottom: 30px;
}
#main .main-details .details-infor .details-fenqi .warranty-number {
  position: relative;
  top: 15px;
}
#main .main-details .details-infor .details-fenqi .warranty-number > li {
  display: inline-block;
  margin: 0 4px 4px 0;
  line-height: 20px;
  vertical-align: middle;
  padding: 1px;
  width: 95px;
  border: 1px solid #999;
  height: 45px;
}
#main .main-details .details-infor .details-fenqi .warranty-number > li a {
  display: inline-block;
  color: black;
  margin: -1px;
  padding: 4px 9px 0;
  text-align: center;
}
#main .main-details .details-infor .details-fenqi .warranty-number > .fenqi-prompt {
  position: absolute;
  top: -18px;
  left: 0;
}
#main .main-details .details-infor .details-fenqi .warranty-number > .fenqi-prompt > a {
  color: #35a;
}
#main .main-details .details-infor .details-fenqi .warranty-number > .fenqi-prompt > i {
  color: #35a;
}
#main .main-details .details-infor .details-fenqi .warranty-number > .fenqi-prompt > em {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 2px solid #35a;
  border-radius: 50%;
  line-height: 12px;
  text-align: center;
  color: #35a;
  font-weight: 400;
}
#main .main-details .details-infor .details-buy {
  padding: 10px 0 0 66px;
  margin-bottom: 50px;
}
#main .main-details .details-infor .details-buy > .buy-inner {
  display: flex;
}
#main .main-details .details-infor .details-buy > .buy-inner > div {
  width: 178px;
  font-family: "Microsoft Yahei";
  line-height: 38px;
  text-align: center;
  font-size: 16px;
}
#main .main-details .details-infor .details-buy > .buy-inner > .buy-now {
  background-color: #ffeded;
  border: 1px solid #ff0036;
  color: #ff0036;
  margin-right: 10px;
}
#main .main-details .details-infor .details-buy > .buy-inner > .buy-wait {
  background-color: #ff0036;
  border: 1px solid #ff0036;
  color: #fff;
}
#main .main-details .details-infor .details-scope {
  margin: 0 20px 0 10px;
}
#main .main-details .details-infor .details-scope > p {
  width: 410px;
}
#main .main-details .details-infor .details-scope > p > span {
  color: #865;
  margin-left: 15px;
}
#main .main-details .details-infor .pay-methods {
  position: absolute;
  bottom: -10px;
  right: 0;
  z-index: 999;
}
#main .main-details .details-infor .pay-methods a > i {
  position: relative;
  top: 1px;
}
#main .main-details .details-infor .pay-methods > .pay-select {
  padding: 20px 20px 10px 10px;
  width: 150px;
  border: 1px solid #eee;
  position: absolute;
  top: 3px;
  left: -110px;
  display: none;
  z-index: -1;
  background-color: #fff;
}
#main .main-details .details-infor .pay-methods > .pay-select > a {
  display: inline-block;
  width: 70px;
  color: black;
}
#main .main-details .details-infor .pay-methods > .pay-select > a:hover {
  text-decoration: underline black;
}
#footer > .footer-tabs {
  width: 790px;
  margin-left: 200px;
  border: 1px solid #eee;
}
#footer > .footer-tabs > .tabs-select {
  display: flex;
  position: relative;
}
#footer > .footer-tabs > .tabs-select > li {
  height: 47px;
  margin: -1px 0 0 -1px;
}
#footer > .footer-tabs > .tabs-select > li::after {
  content: "";
  display: block;
  width: 0.5px;
  height: 15px;
  background-color: #eee;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}
#footer > .footer-tabs > .tabs-select > li a {
  font-weight: 700;
  display: block;
  padding: 0 20px;
  height: 100%;
  line-height: 46px;
  color: black;
}
#footer > .footer-tabs > .tabs-select > li > .tabs-img {
  position: absolute;
}
#footer > .footer-tabs > .tabs-select > li .tabs-evaluation {
  position: absolute;
  width: 100%;
  top: 49px;
  left: -1px;
  border: 1px solid #c8c8c8;
}
#footer > .footer-tabs > .tabs-select > li .tabs-evaluation .evaluation-first {
  padding: 10px 0;
  display: flex;
}
#footer > .footer-tabs > .tabs-select > li .tabs-evaluation .evaluation-first > .rate-score {
  width: 75px;
  padding: 0 20px;
  border-right: 1px dotted #ddd;
  text-align: center;
}
#footer > .footer-tabs > .tabs-select > li .tabs-evaluation .evaluation-first > .rate-score > h4 {
  color: #404040;
  font-size: 12px;
  font-weight: 100;
}
#footer > .footer-tabs > .tabs-select > li .tabs-evaluation .evaluation-first > .rate-score > strong {
  color: #f60;
  font-family: arial;
  font-size: 32px;
  line-height: 32px;
  margin: 0 2px;
}
#footer > .footer-tabs > .tabs-select > li .tabs-evaluation .evaluation-first > .rate-score > p {
  margin-left: 8px;
  width: 60px;
  height: 12px;
  background: url(../img/收藏星星.png) no-repeat 0 -15px;
}
#footer > .footer-tabs > .tabs-select > li .tabs-evaluation .evaluation-first > .rate-tag .rate-tag-label {
  color: #ccc;
  width: 16px;
  height: 61px;
  margin-top: 4px;
  font-size: 11px;
  line-height: 12px;
  padding: 0 12px 0 25px;
}
#footer > .footer-tabs > .tabs-select > li .tabs-evaluation > .rate-toolbar {
  width: 100%;
  box-sizing: border-box;
  background: #efefef;
  border: 1px solid #c8c8c8;
  height: 30px;
  padding: 5px 10px;
  text-align: left;
  outline: 0;
  border: 0;
  line-height: 30px;
  overflow: hidden;
}
#footer > .footer-tabs > .tabs-select > li .tabs-evaluation > .rate-toolbar span {
  position: relative;
  top: -3px;
}
#footer > .footer-tabs > .tabs-select > li .tabs-evaluation > .rate-toolbar > i {
  float: right;
}
#footer > .footer-tabs > .tabs-select > li .tabs-evaluation > .rate-toolbar > i input {
  position: relative;
  top: -2px;
  left: 4px;
}
#footer > .footer-tabs > .tabs-select > li .tabs-evaluation > .rate-toolbar > i > span:last-child {
  display: inline-block;
  width: 70px;
  height: 16px;
  line-height: 14px;
  border: 1px solid #ccc;
  text-align: center;
}
#footer > .footer-tabs > .tabs-select > .tabs-active {
  border-top: 2px solid #ff0036;
  position: relative;
}
#footer > .footer-tabs > .tabs-select > .tabs-active::before {
  content: "";
  display: block;
  width: 0px;
  height: 0px;
  border: 3px solid transparent;
  border-color: red transparent transparent;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
